body{
    margin:0px;
}

#menu{
    height:0px;
    padding:0px;
    list-style-type:none;
    font-family: 'Carattere', cursive;
}

#menu li{
    width:25%;
    text-size-adjust: auto;
    text-align:center;
}

#menu li a{

    color:#ff6666;
    font-size:250%;
    background: aquamarine;
    border-radius: 0 20vh 20vh 0;
    text-decoration:menu;
    display:block;

}

#menu li a:hover{
    color:#ffffff;
    background: #ff6666;

}

.br1{
    color:#ff8080;
    background:#b7ffdb;
    font-size:250%;
    display:block;
    margin:0;
    width:25%;
    text-size-adjust: auto;
    text-align:center;
    border-radius: 0 20vh 20vh 0;
    font-size:3vw;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index:30;
}